.profile-first-section, .profile-second-section, .profile-content-section {
	position: relative;
	background: #fff;
	width: 97%;
	margin: 0 auto;
	 box-shadow: 0 1px 4px rgba(0,0,0,0.20);
}
.profile-first-section > i {
	margin: 10px;
	position: absolute;
	right: 15px;
	top: 0;
	color: rgba(0,0,0,.2);
        -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      transition: all 0.25s;
      cursor: pointer;
}
.profile-first-section > i:hover{
	color: rgba(0,0,0,.75);

}
.profile-first-section{
	padding: 10px 5px;
}

.profile-first-section > div{
	margin-bottom: 10px;
}

.profile-first-section > div > h3, .profile-first-section > div > h4, .profile-first-section > div > h5 {
	margin: 5px 0;
}
.profile-first-section > div > h4, .profile-first-section > div > h5 {
	color: rgba(0,0,0,.5);

}
.profile-jumbotron{
	text-align: center;
}
.profile-buttons{
	display: flex;
	width: 100%;
    margin: 20px auto 0 auto;
    text-align: center;
}
.profile-buttons > li {
	border-radius: 3px;
	border: solid 1px #52d2bd;
	color: #52d2bd;
	padding: 9px 0;
	margin: auto;
    flex-basis: 48%;
    cursor: pointer;
            -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  font-size: 10px;
}
.profile-buttons > li >a {
	color: #52d2bd;
}
.profile-first-section > .profile-buttons > li:first-child{
	background: #52d2bd;
	border-color: #52d2bd;
	color: #fff;
	margin-right: 10px;
}
.profile-buttons > li:hover,
.profile-buttons > li:focus,
.profile-buttons > li:hover >a ,
.profile-buttons > li:focus >a {
	color: #fff;
	background: #52d2bd;
	border-color: #52d2bd;
}
.profile-first-section > .profile-buttons > li:first-child:hover,
.profile-first-section > .profile-buttons > li:first-child:focus,
.profile-first-section > .profile-buttons > li:hover,
.profile-first-section > .profile-buttons > li:focus{
	background: #52d2bd;
	border-color:#52d2bd; 
}

.profile-content-section {
	text-align: left;
	margin: 10px auto;
}
.profile-content-section > h4 {
	margin: 0;
	box-shadow: 0 1px 4px rgba(0,0,0,0.20);
	padding: 10px 0 5px 5px;
	color: #fff;
	background: #52d2bc;
}
.profile-content-section > .profile-content-body  li {
	padding: 10px;
	border-bottom: solid 1px rgba(0,0,0,0.15);
}
.profile-content-section > .profile-content-body  li > p {
	margin: 0;
}
.profile-content-section > .profile-content-body  li > p:nth-child(2){
	color: rgba(0,0,0,0.65);
	margin-top: 10px;
}
.profile-content-section > .profile-content-body  li > h5 {
    margin: 5px 0 !important;
    padding: 10px 0 5px 0;
    font-family: 'Noto sans';
    font-weight: 700;
    border-bottom: solid 1px rgba(0,0,0,.10);
}
.profile-content-section > .profile-content-body  li > h5 span {
	color: rgba(0,0,0,0.65);
	margin-left: 2px;
	font-weight: lighter;
}
.profile-content-section > .profile-content-body  li > h5:last-child{
	border-bottom: none;
}
.profile-content-section > .profile-content-body > .group-list-item {
	padding: 10px;
}
.profile-content-section > .profile-content-body > .group-list-item li{
	border:none;
	text-align: center;
	padding: 0px;
	flex-basis: 100% !important;
}
.banner-profile-pic{
	width: 80px;
    height: 80px;
    border-radius: 100%;
}
@media (min-width: 768px){
	.banner-profile-pic{
		width: 125px;
    	height: 125px;
	}
	.profile-buttons{
		width: 50%;
	}

}


@media (min-width: 1024px){
	.profile-body{
		max-width: 1000px;
		margin: 0 auto;
	}
	.profile-first-section{
		width: 55% !important;
	}

	.profile-content-section{
		margin-top: 0px !important;
	}
	.secondary-profile-section{
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 1px 4px rgba(0,0,0,0.20);
	margin-top: 10px;
	}
	.secondary-profile-section > section{
		width: 33.333333% !important;
	}
	.profile-buttons{
		width: 40%;
	}
	.profile-content-section > h4{
		text-align: center;
	}
	.group-list-item > .main-thumbnail{
		margin-right:0px !important;
	}
	.profile-jumbotron{
		text-align: left;
	}
	.profile-buttons{
	    position: absolute;
	    bottom: 17px;
	    right: 0;
	}
	.profile-main{
		display: flex;
	}
	.profile-main-secondary{
		width: 35%;
	}
	.profile-main-primary{
		width: 63%;
		margin-left: auto;
	}
	.profile-main-secondary,
	.profile-main-primary{

	}
.profile-content-section > .profile-content-body > .group-list-item li{
    width: 24.5% !important;
    margin: 1px !important;
    flex-basis: unset !important;

}

}